<div style="padding:10px;"><h1>Welcome to Recipe Management System</h1></div>
<p id="notice"><%= notice %></p>
<table cellpadding="20px" cellspacing="0" border="1">
<tr>
	<td>
	<h1>New User Signup</h1>
	<%= render '/users/form' %>
	</td>
    <td>
	<h1>User Login</h1>
	<%= render '/home/login' %>
    </td>
</tr></table>

